[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm ci --legacy-peer-deps"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "npx -y serve -s dist -l ${PORT:-3000}"

[variables]
NODE_ENV = "production"
